/* @font-face {
	font-family: "Gilroy";
	src: url("/fonts/Gilroy/Gilroy.woff2") format("woff2"),
		url("/fonts/Gilroy/Gilroy.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
} */

@font-face {
	font-family: "Gilroy";
	font-weight: normal;
	src: url("/fonts/Gilroy/Gilroy-Medium.ttf");
	/* src: url("/fonts/Gilroy/Gilroy-Regular.ttf"); */
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	font-weight: bold;
	src: url("/fonts/Gilroy/Gilroy-Bold.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	font-weight: 300;
	src: url("/fonts/Gilroy/Gilroy-Light.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	font-weight: 600;
	src: url("/fonts/Gilroy/Gilroy-SemiBold.ttf");
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	font-weight: 500;
	src: url("/fonts/Gilroy/Gilroy-Medium.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Blackpast DEMO";
	src: url("/fonts/Blackpast/BlackpastDEMO.woff2") format("woff2"),
		url("/fonts/Blackpast/BlackpastDEMO.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Aldo the Apache';
	font-weight: normal;
	src: url("/fonts/Aldo/AldotheApache.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 100;
	font-style: normal;
	src: url("/fonts/beVietNam/BeVietnamPro-Thin.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 100;
	font-style: italic;
	src: url("/fonts/beVietNam/BeVietnamPro-ThinItalic.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 200;
	font-style: normal;
	src: url("/fonts/beVietNam/BeVietnamPro-ExtraLight.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 200;
	font-style: italic;
	src: url("/fonts/beVietNam/BeVietnamPro-ExtraLightItalic.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 300;
	font-style: normal;
	src: url("/fonts/beVietNam/BeVietnamPro-Light.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 300;
	font-style: italic;
	src: url("/fonts/beVietNam/BeVietnamPro-LightItalic.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/beVietNam/BeVietnamPro-Regular.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 400;
	font-style: italic;
	src: url("/fonts/beVietNam/BeVietnamPro-Italic.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 500;
	font-style: normal;
	src: url("/fonts/beVietNam/BeVietnamPro-Medium.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 500;
	font-style: italic;
	src: url("/fonts/beVietNam/BeVietnamPro-MediumItalic.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 600;
	font-style: normal;
	src: url("/fonts/beVietNam/BeVietnamPro-SemiBold.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 600;
	font-style: italic;
	src: url("/fonts/beVietNam/BeVietnamPro-SemiBoldItalic.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 700;
	font-style: normal;
	src: url("/fonts/beVietNam/BeVietnamPro-Bold.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 700;
	font-style: italic;
	src: url("/fonts/beVietNam/BeVietnamPro-BoldItalic.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 800;
	font-style: normal;
	src: url("/fonts/beVietNam/BeVietnamPro-ExtraBold.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 800;
	font-style: italic;
	src: url("/fonts/beVietNam/BeVietnamPro-ExtraBoldItalic.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 900;
	font-style: normal;
	src: url("/fonts/beVietNam/BeVietnamPro-Black.ttf");
	font-display: swap;
}
@font-face {
	font-family: "BeVietnamPro";
	font-weight: 900;
	font-style: italic;
	src: url("/fonts/beVietNam/BeVietnamPro-BlackItalic.ttf");
	font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* html {
	scroll-behavior: smooth;
} */

/* body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.15);
	border-radius: 30px;
} */

body{
	background-color: #F8F9FB !important;
}

.swiper {
	width: 100%;
	height: 100%;
}

/* .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	width: 45.5% !important;
} */

@media screen and (min-width: 960px) {
	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		width: 45.5% !important;
	}
}

.swiper-pagination-bullet {
	width: 12px !important;
	height: 12px !important;
	border-radius: 50% !important;
	background: rgba(255, 255, 255, 0.8) !important;
	transition: all ease 0.25s;
}

.swiper-pagination-bullet-active {
	width: 30px !important;
	border-radius: 7px !important;
	background: #ffffff !important;
}

.arrow {
	width: 40px;
	height: 22px;
}

.arrowSliding {
	position: absolute;
	-webkit-animation: slide 2s linear infinite;
	animation: slide 2s linear infinite;
}

.arrowSliding:nth-child(even) .arrow {
	background-image: url("/assets/arrow-1.png");
}

.arrowSliding:nth-child(odd) .arrow {
	background-image: url("/assets/arrow-2.png");
}

.delay1 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.delay2 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.delay3 {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

@-webkit-keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(-44px);
	}
	20% {
		opacity: 1;
		transform: translateY(-24px);
	}
	80% {
		opacity: 1;
		transform: translateY(24px);
	}
	100% {
		opacity: 0;
		transform: translateY(42px);
	}
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(-44px);
	}
	20% {
		opacity: 1;
		transform: translateY(-24px);
	}
	80% {
		opacity: 1;
		transform: translateY(24px);
	}
	100% {
		opacity: 0;
		transform: translateY(42px);
	}
}
.link{
	font-family: 'Montserrat';
	font-size: 16px;
	color: #5727A3;
	text-underline-offset: 2px;
}
